@import "../common";

:local(.tabsList) {
  > .bp3-tab-list {
    margin-top: 1px;
    left: -1px;

    > *:not(:last-child) {
      margin-right: 0;
    }
  }
}

// Light theme
:local(.tabsList) {
  > .bp3-tab-list {
    background: darken($background-color_light, 5%);
    border-bottom: 1px solid darken($background-color_light, 10%);
  }
}

// Dark theme
.bp3-dark :local(.tabsList) {
  > .bp3-tab-list {
    background: darken($background-color_dark, 5%);
    border-bottom: 1px solid darken($background-color_dark, 10%);
  }
}


.bp3-tab-panel:local(.tab) {
  margin-top: 0.5em;
}

:local(.tab).bp3-tab {
  z-index: 6;

  padding-left: .5em;
  padding-right: 0;

  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &[aria-selected="true"] {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .bp3-button {
    &:hover {
      background: none;
    }

    &:active {
      background: none;
    }
  }

}

// Light theme
:local(.tab).bp3-tab {
  color: $text-color_light;
  background: $background-color_light;
  border: 1px solid darken($background-color_light, 6%);

  &:hover {
    color: $text-active-color_light;
  }

  &[aria-selected="true"] {
    color: $text-active-color_light;
    background: lighten($background-color_light, 2%);
  }

  &[aria-selected="false"] {
    background: darken($background-color_light, 2%);
  }

  .bp3-button {
    .bp3-icon {
      color: $button-icon-color_light;
    }

    &:hover {
      .bp3-icon {
        color: $hover-indicator-color_light;
      }
    }
  }

}

// Dark theme
.bp3-dark :local(.tab).bp3-tab {
  color: $text-color_dark;
  background: $background-color_dark;
  border: 1px solid darken($background-color_dark, 6%);

  &:hover {
    color: $text-active-color_dark;
  }

  &[aria-selected="true"] {
    color: $text-active-color_dark;
    background: lighten($background-color_dark, 4%);
  }

  &[aria-selected="false"] {
    background: darken($background-color_dark, 4%);
  }

  .bp3-button {
    .bp3-icon {
      color: $button-icon-color_dark;
    }

    &:hover {
      .bp3-icon {
        color: $hover-indicator-color_dark;
      }
    }
  }
}
