
.react-confirm-alert-overlay {
  -webkit-animation: none;
  -moz-animation: react-confirm-alert-fadeIn 0s 0s forwards;
  -o-animation: react-confirm-alert-fadeIn 0s 0s forwards;
  animation: react-confirm-alert-fadeIn 0s 0s forwards;
  background: rgba(16, 22, 26, 0.7);
}
