:local .userProfileDialog {
    position: absolute;
    width: 50%;
    height: 50%;
}

:local .title {
    font-weight: bold;
    margin-left: 1.0rem;
    font-weight: 600;
    background-color: #D3D3D3;
    font-size: 16px;
}

:local .userProfileDialogContent {
}
