:local .helpDialog {
    position: absolute;
    width: 50%;
    height: 50%;
}

.help-file :hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}