/.git/
/.idea/
/bin/

/owf-legacy/


/ozone-framework-client/package-lock.json
/ozone-framework-client/.gradle/
/ozone-framework-client/build/
/ozone-framework-client/node_modules/
/ozone-framework-client/packages/application/package-lock.json
/ozone-framework-client/packages/application/build/
/ozone-framework-client/packages/application/coverage/
/ozone-framework-client/packages/application/node_modules/
/ozone-framework-client/packages/application/reports/

/ozone-example-widgets/package-lock.json
/ozone-example-widgets/build/
/ozone-example-widgets/node_modules/


/ozone-framework-server/.gradle/

/ozone-framework-server/mock-cas-server/

/ozone-framework-server/owf-appconfig/.git/
/ozone-framework-server/owf-appconfig/.gradle/
/ozone-framework-server/owf-appconfig/build/

/ozone-framework-server/owf-auditing/.git/
/ozone-framework-server/owf-auditing/.gradle/
/ozone-framework-server/owf-auditing/build/

/ozone-framework-server/owf-custom-tomcat/.git/
/ozone-framework-server/owf-custom-tomcat/.gradle/
/ozone-framework-server/owf-custom-tomcat/build/

/ozone-framework-server/owf-framework/.git/
/ozone-framework-server/owf-framework/.gradle/
/ozone-framework-server/owf-framework/build/
/ozone-framework-server/owf-framework/docs/
/ozone-framework-server/owf-framework/docs-external/
/ozone-framework-server/owf-framework/flash-dragAndDrop/
/ozone-framework-server/owf-framework/logs/
/ozone-framework-server/owf-framework/sample-widgets/
/ozone-framework-server/owf-framework/src/main/resources/public/
/ozone-framework-server/owf-framework/test-widgets/

/ozone-framework-server/owf-messaging/.git/
/ozone-framework-server/owf-messaging/.gradle/
/ozone-framework-server/owf-messaging/build/

/ozone-framework-server/owf-security/.git/
/ozone-framework-server/owf-security/.gradle/
/ozone-framework-server/owf-security/build/

/ozone-framework-server/ozone-classic-bom/.git/
/ozone-framework-server/ozone-classic-bom/.gradle/
/ozone-framework-server/ozone-classic-bom/build/


/ozone-widget-api/
