/node_modules/

/.idea/
/*.iml
/ozone-framework-server/owf-framework/src/main/resources/public/*
__pycache__
*.pyc
/.vscode/
ozone-framework-python-server/pep8-results.txt
.DS_Store
docs/.DS_Store
docs/users_guide/.DS_Store
ozone-example-widgets/.DS_Store
ozone-example-widgets/src/.DS_Store
ozone-example-widgets/src/widgets/.DS_Store
ozone-example-widgets/src/widgets/channel-listener/.DS_Store
ozone-example-widgets/src/widgets/preferences/.DS_Store
ozone-framework-client/.DS_Store
ozone-framework-client/packages/.DS_Store
owf-legacy/.DS_Store
docs/build
dist
pep8-results.txt
ozone-framework-python-server/migration_owf/migration_result/*_owf*
ozone-framework-python-server/migration_owf/migration_result/oracle_*


