@import "../../common";

:local .toolbar {
    min-height: 100%;

    padding: 0.25rem;

    border-bottom: 1px solid rgba(16, 22, 26, .2);
    border-left: 1px solid rgba(16, 22, 26, .2);
    border-right: 1px solid rgba(16, 22, 26, .2);
    border-radius: 0 0 4px 4px;

    background-color: #ebf1f5;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.bp3-popover {
    max-width: 600px;

}

:local .popoverdiv {
    min-height: 100%;
    padding: 2rem;

    white-space: normal;
    word-wrap: break-word;

    border-bottom: 2px solid rgba(16, 22, 26, .2);
    border-right: 2px solid rgba(16, 22, 26, .2);
    border-radius: 0 0 4px 4px;

    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}


:local .toolbarMenu {
    display: flex;
    justify-content: flex-end;
}

:local .toolbarTitle {
    text-align: center;
}

:local .toolbarFooter {
    position: fixed;
    bottom: 0;

    text-align: center;
}

:local .widgetList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: inherit;
}

:local .currentPage {
    color: $text-color_light;
}

.bp3-dark :local(.currentPage) {
    color: $text-color_dark;
}

:local .buttonBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 260px;
    margin-bottom: 1em;
}

:local .dialog {
    width: auto;
    padding: 0;
}

:local .tileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:local .tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;

    margin: 1rem 0;

    &:hover {
        background: $hover-color_light;
    }
}

:local .subtile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
}

:local .tileIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

:local .tileTitle {
    color: $text-color_light;
    font-weight: 600;
    margin-right: 0.5rem;
}

.bp3-dark :local(.tileTitle) {
    color: $text-color_dark;
}
.bp3-dark{
  background-color: $background-color_dark;
}
