@import "../common";

:local .LoginPage {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: $desktop-background-color;
}

:local .tileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:local .bp3-dialog{
  min-height: 600px;
}
