$dark-theme: ":global(.bp3-dark)";

$background-color_light: #f5f8fa;
$background-color_dark: #293742;

$hover-indicator-color_light: #106ba3;
$hover-indicator-color_dark: #48aff0;

$button-icon-color_light: #738694;
$button-icon-color_dark: #a7b6c2;

$text-color_light: #394b59;
$text-color_dark: #d8e1e8;

$text-active-color_light: $hover-indicator-color_light;
$text-active-color_dark: $hover-indicator-color_dark;
