:local .tooltip {
    font-size: .75rem;
}

:local .header {
}

:local .title {
    font-weight: bold;
}

:local .shortcut {
    font-style: italic;
    margin-left: .5rem;
}

:local .description {
}
