@import "../../common";

.bp3-navbar {
    height: $navbar-height;
    background-color: $navbar-background;
    border-color: $navbar-background;
    padding-left: $navbar-padding;
    padding-right: $navbar-padding;
    padding-bottom: 40px !important;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
}
.bp3-navbar-group .bp3-button:hover .bp3-icon, .bp3-active .bp3-icon{
  color:$navbar-hover-color;
}
:focus{
  outline:none !important;
}
.bp3-navbar-group .bp3-button:hover, .bp3-active{
  color:$navbar-hover-color;
  border-top-color: $navbar-hover-color;
  background: $navbar-background;
  height:$navbar-height;
  border-top: 4px solid transparent;
  padding-top: 6px;
  border-radius: 0px !important;
}
.bp3-menu{
  background: $navbar-background;
  padding-left: 0px !important;
}
a.bp3-menu-item{
  padding-left: 12px;
}
a.bp3-menu-item:hover{
  color:$navbar-hover-color;
  border-left-color: $navbar-hover-color;
  background: $navbar-background;
  border-left: 4px solid transparent;
  padding-left: 12px;
  border-radius: 0px !important;
}

.bp3-navbar-group {
    flex: 0 0 auto;
    height: $navbar-height;
}
