@import "../../../common";

:local .formBody {
  // background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

:local .formBody {
  padding: 0.5em;
}

:local .formBody,
:local .table,
:local .buttonBar,
:local .actionBar,
:local .widget_body{
  margin: 0.5em;
}
:local .buttonBar {
  display: flex;
  justify-content: space-between;
}

:local .createIntent > div > form{
  padding:2em;
}
:local .inline_form_label > label{
  min-width: 150px;
}

:local .inline_form_label > div {
  width: calc(100% - 170px);
}

.tabulator {
  // general
  font-size: inherit;
  color: $text-color_light;
  background-color: transparent !important;

  // placeholder text
  .tabulator-tableHolder .tabulator-placeholder span {
    color: $text-color_light;
  }

  // collapsed text
  .tabulator-row .tabulator-responsive-collapse table {
    font-size: inherit !important;
  }

  // active pagination
  .tabulator-footer .tabulator-page.active {
    border-color: #137cbd !important;
    background-color: #137cbd !important;
  }
}

.bp3-dark {
  .tabulator {
    // general
    font-size: inherit;
    color: $text-color_dark;
    background-color: #293742;

    // placeholder text
    .tabulator-tableHolder .tabulator-placeholder span {
      color: $text-color_dark;
    }

    // header
    .tabulator-header, .tabulator-header .tabulator-col {
      background-color: #3b4d5b;

      // sortable
      .tabulator-col.tabulator-sortable:hover {
        background-color: #3b4f5f;
      }
    }

    // pagination
    .tabulator-footer {
      .tabulator-page, .tabulator-page[data-page=last] {
        color: $text-color_dark;
        border-color: #293742;
        background: #40525f;
        &:disabled {
          color: #56616b !important;
          border-color: #293742;
          background: rgba(64, 82, 95, 0.52);
        }
      }
    }
  }
}

//chrome scroll bar fix
 /* width */
 ::-webkit-scrollbar {
   height: 4px;
 }
 /* Track */
 ::-webkit-scrollbar-track {
   background: $background-color_dark;
 }
 /* Handle */
 ::-webkit-scrollbar-thumb {
   border-radius: 8px;
   background: #48aff0 !important;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #48aff0;
 }

 //firefox drop arrow
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html {
-ms-overflow-style: -ms-autohiding-scrollbar;
}
