@import "../../../common";

:local .formBody {
  // background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

:local .formBody {
  padding: 0.5em;
}

:local .formBody,
:local .table,
:local .buttonBar,
:local .actionBar,
:local .widget_body {
  margin: 0.5em;
}

:local .buttonBar {
  display: flex;
  justify-content: space-between;
}

:local .createIntent > div > form {
  padding: 2em;
}

:local .inline_form_label > label {
  min-width: 150px;
}

:local .inline_form_label > div {
  width: calc(100% - 170px);
}

.tabulator {
  // general
  font-size: inherit;
  color: $text-color_light;
  background-color: transparent !important;

  // min height for rows
  &.table-sm .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
    min-height: 36px;
  }

  // header shadow
  .tabulator-header {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f5f8fa !important;
    font-weight: 400 !important;
  }

  // column without shadow but same bg color
  .tabulator-header .tabulator-col {
    background-color: #f5f8fa !important;
  }

  // placeholder
  .tabulator-tableHolder {
    .tabulator-table {
      height: 300px;
    }

    .tabulator-placeholder {
      span {
        border: 0.5px solid #f5f8fa !important;
        border-radius: 5px;
        color: #f5f8fa !important;
        background-color: #293742 !important;
        top: 25%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: all .3s ease;
        z-index: 1;
        pointer-events: none;
        padding: 20px;
      }
    }
  }

  // collapsed text
  .tabulator-row .tabulator-responsive-collapse table {
    font-size: inherit !important;
    border: none;
  }

  // active pagination
  .tabulator-footer .tabulator-page.active {
    border-color: #137cbd !important;
    background-color: #137cbd !important;
  }

  // pagination
  .tabulator-footer {
    .tabulator-page:disabled {
      color: #bdc1c5 !important;
      border-color: #dee2e6 !important;
      background: #dee2e6 !important;
    }

    .tabulator-page:disabled:hover {
      cursor: default !important;
      color: #bdc1c5 !important;
      border-color: #dee2e6 !important;
      background: #dee2e6 !important;
    }
  }

  table {
    border-spacing: 3px;
    //width: 100%;
    min-width: 148px;
    border-collapse: collapse;
  }

  tr {
    border-bottom: dotted;
    border-width: 0.5px;
    border-color: lightgray;
    padding-bottom: 5px;

    &:last-child {
      border-bottom: none;
    }
  }

  th {
    text-align: left;
    font-weight: normal;
  }
}

.bp3-dark {
  .tabulator {
    // general
    font-size: inherit;
    color: $text-color_dark;
    background-color: #293742;

    // placeholder text
    .tabulator-tableHolder .tabulator-placeholder span {
      color: $text-color_dark;
    }

    // header
    .tabulator-header, .tabulator-header .tabulator-col {
      background-color: #3b4d5b !important;

      // sortable
      .tabulator-col.tabulator-sortable:hover {
        background-color: #3b4f5f;
      }
    }

    // pagination
    .tabulator-footer {
      .tabulator-page, .tabulator-page[data-page=last] {
        color: $text-color_dark;
        border-color: #293742;
        background: #40525f;

        &:disabled {
          color: #56616b !important;
          border-color: #293742 !important;
          background: rgba(64, 82, 95, 0.52) !important;
        }
      }
    }
  }
}

//chrome scroll bar fix
/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 3px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color_dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #48aff0 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #48aff0;
}

//firefox drop arrow
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
