@import "../common";

:local .homeScreen {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: $desktop-background-color;
}

:local .navigationBar {
    flex: 0 0 auto;
}

:local .widgetToolbar {
    flex: 0 0 auto;
}

:local .widgetDashboard {
    flex: 1 1 auto;
}
