@import "../../common";

:local .homeScreen {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: $desktop-background-color_dark;
}

:local .navigationBar {
    flex: 0 0 auto;
}

:local .toolbar {
    flex: 0 0 auto;
}

:local .dashboard {
    flex: 1 1 auto;
}

:local .full {
    width:100%;
    height:100%;
}
