@import "../../common";

:local .formBody {
  // background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

:local .formBody {
  padding: 0.5em;
}

:local .formBody,
:local .table,
:local .buttonBar,
:local .actionBar,
:local .widget_body {
  margin: 0.5em;
}

:local .buttonBar {
  display: flex;
  justify-content: space-between;
}

:local .createIntent > div > form {
  padding: 2em;
}

:local .inline_form_label > label {
  min-width: 150px;
}

:local .inline_form_label > div {
  width: calc(100% - 170px);
}

.tabulator-footer .tabulator-page.active {
  border-color: #137cbd !important;
  background-color: #137cbd !important;
}

.tabulator {
  font-size: inherit !important;
  color: $text-color_light;
}

.tabulator-row .tabulator-cell {
  min-height: 60% !important;
}

.tabulator-row .tabulator-responsive-collapse table {
  font-size: inherit !important;
}

.tabulator-header, .tabulator .tabulator-header .tabulator-col {
  background-color: #fff !important;
}

.bp3-dark {
  .tabulator .tabulator-tableHolder .tabulator-placeholder span {
    color: #fff;
  }

  .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    background-color: #3b4d5b !important;
  }

  .tabulator .tabulator-footer .tabulator-page:disabled {
    border-color: #293742;
    background: #40525f;
    color: #fff;
  }

  .tabulator {
    font-size: inherit;
    color: $text-color_dark;

    .tabulator-header .tabulator-col.tabulator-sortable:hover {
      background-color: #3b4f5f;
    }
  }
}

//chrome scroll bar fix
/* width */
::-webkit-scrollbar {
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color_dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #48aff0 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #48aff0;
}

//firefox drop arrow
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
