@import "../../common";

.flexVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog {
  min-height: 400px;
}

.body {
  display: flex;
  justify-content: center;
}
