@import "../../common";

.dialog {
  width: unset;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 auto;
  min-width: 20rem;
}

.status {
  margin-bottom: 1rem;
}
