$dark-theme: bp3-dark;

$text-color_dark: #f5f8fa;
$text-color_light: #182026;

$hover-color_light: rgba(0, 0, 0, 0.1);
$hover-color_dark: rgba(0, 0, 0, 0.2);

$desktop-background-color_dark: #a7b6c2;

$background-color_dark: #293742 !important;
