@import "../common";

:local .widgetToolbar {
    min-height: $widget-toolbar-height;

    padding: 0.25rem;

    border-bottom: $widget-toolbar-border;
    border-left: $widget-toolbar-border;
    border-right: $widget-toolbar-border;
    border-radius: 0 0 4px 4px;

    background-color: $widget-toolbar-background-color;
    box-shadow: $widget-toolbar-shadow;
}

:local .widgetToolbarMenu {
    display: flex;
    justify-content: flex-end;
}
