.agreement{
  overflow-y: scroll !important;
  max-height: 400px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

button[data-element-id='back-button']{
  background-color: #2D84BE !important;
}
