@import "../../common";

.dialog {
    width: auto;
    padding: 0;

    min-width: 300px;
}

.zeroState {
    font-style: italic;
    text-align: center;
    color: lighten($text-color_light, 20%);

    :global(.#{$dark-theme}) & {
        color: darken($text-color_dark, 20%);
    }
}

.tileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



