.app {
  padding: .5em;

  position: absolute;
  width: 100%;
  height: 100%;
}

main.content {
  display: flex;
  flex-direction: column;
}

main.content div.bp3-callout {
  margin-bottom: 1em;
}

.fill-width {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1 0 auto;
}
