/owf-appconfig/.git/
/owf-appconfig/.gradle/
/owf-appconfig/build/

/owf-auditing/.git/
/owf-auditing/.gradle/
/owf-auditing/build/

/ozone-classic-bom/.git/
/ozone-classic-bom/.gradle/
/ozone-classic-bom/build/

/owf-custom-tomcat/.git/
/owf-custom-tomcat/.gradle/
/owf-custom-tomcat/build/

/owf-messaging/.git/
/owf-messaging/.gradle/
/owf-messaging/build/

/owf-security/.git/
/owf-security/.gradle/
/owf-security/build/


/owf-framework/.git/
/owf-framework/.gradle/
/owf-framework/build/

/owf-framework/javascript/dist/
/owf-framework/javascript/node_modules/

/owf-framework/src/main/resources/public/js/
/owf-framework/src/main/resources/public/vendor/
/owf-framework/src/main/resources/public/themes/**/.sass-cache/
/owf-framework/src/main/resources/public/themes/**/css/

/owf-framework/owf-example-widgets/.gradle/
/owf-framework/owf-example-widgets/build/
