pytz
Cython
cx_Oracle
pymssql
pymysql
django-mssql-backend

# MYSQL
#brew tap microsoft/mssql-release https://github.com/Microsoft/homebrew-mssql-release
#brew update
#brew install msodbcsql mssql-tools