@import "../common";

.bp3-navbar {
    height: $navbar-height;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0;
}

.bp3-navbar-group {
    justify-self: center;

    height: $navbar-height;
}

.bp3-navbar-group.bp3-align-left {
    justify-self: left;
}

.bp3-navbar-group.bp3-align-right {
    justify-self: right;
}
